/* CSS CODE FOR ZOOM */

// to try a solution, just change the #container_ to #container for the one you want to try

/* NAIVE SOLUTION */

#container_ {
  // As I use scss, I define all as sass variable to split computation and style
  // but you can set everything statically in css
  $card-small-width: 150px;
  $card-small-height: 100px;
  $card-medium-width: 200px;
  $card-medium-scale: calc($card-medium-width / $card-small-width);
  $card-large-width: 250px;
  $card-large-scale: calc($card-large-width / $card-small-width);

  // default zoom (small zoom), all be computed from these dimensions
  .card {
    width: $card-small-width;
    height: $card-small-height;
    .content {
      width: 100%;
      height: 100%;
    }
  }

  &.zoom-medium {
    .card {
      transform: scale($card-medium-scale);
    }
  }

  &.zoom-large {
    .card {
      transform: scale($card-large-scale);
    }
  }
}

/* SOLUTION */
// #region

#container {
  // As I use scss, I define all as sass variable to split computation and style
  // but you can set everything statically in css
  $card-small-width: 150px;
  $card-small-height: 100px;
  $card-medium-width: 200px;
  $card-medium-scale: calc($card-medium-width / $card-small-width);
  $card-medium-height: calc($card-small-height * $card-medium-scale);
  $card-large-width: 250px;
  $card-large-scale: calc($card-large-width / $card-small-width);
  $card-large-height: calc($card-small-height * $card-large-scale);

  // default zoom (small zoom), all be computed from these dimensions
  .card {
    width: $card-small-width;
    height: $card-small-height;
    .content {
      width: $card-small-width;
      height: $card-small-height;
    }
  }

  &.zoom-medium {
    .card {
      width: $card-medium-width;
      height: $card-medium-height;
      .content {
        transform: scale($card-medium-scale);
        transform-origin: left top;
      }
    }
  }

  &.zoom-large {
    .card {
      width: $card-large-width;
      height: $card-large-height;
      .content {
        transform: scale($card-large-scale);
        transform-origin: left top;
      }
    }
  }
}
// #endregion

/* GLOBAL STYLE */

// #region
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

#container {
  margin: 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  .card {
    & .content {
      border: 2px solid lightgray;
      background-color: #a0a0a020;
      border-radius: 0.5rem;
      padding: 0.5rem;
      box-sizing: border-box;

      button {
        border: none;
        background: none;
        padding: 0.25rem;
        &:hover {
          background-color: lightblue;
        }
        &:active {
          background-color: lightcoral;
        }
      }
    }
  }
}

form {
  ul {
    display: flex;
    li {
      list-style-type: none;
      margin-left: 2rem;
    }
  }
}

// #endregion
