#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.container {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
}

.container .element {
  width: 250px;
  height: 100px;
}

.container .element .wrapper {
  background-color: #ff0000a0;
  width: 250px;
  height: 100px;
}

.container .element.x2 {
  width: 500px;
  height: 200px;
}

.container .element.x2 .wrapper {
  background-color: #00ff00a0;
  transform: scale(2);
  transform-origin: left top;
}

.container .element.x3 {
  width: 750px;
  height: 300px;
}

.container .element.x3 .wrapper {
  background-color: #0000ffa0;
  transform: scale(3);
  transform-origin: left top;
}
